<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hut.jsj.mapper.JbtjMapper">

    <select id="findByType" resultType="Jbtj" parameterType="string">
        select id,content from jbtj where type=#{type}
    </select>

</mapper>